# Enforce LF for common source files and CMake
CMakeLists.txt text eol=lf
*.cmake text eol=lf
*.cpp text eol=lf
*.cxx text eol=lf
*.cc text eol=lf
*.c text eol=lf
*.hpp text eol=lf
*.hh text eol=lf
*.h text eol=lf
*.ipp text eol=lf
*.inl text eol=lf
*.md text eol=lf
*.txt text eol=lf

# Binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.zip binary
*.tar.gz binary
